@if $include-header == true {

header {
    @include limitMaxWidth($width, $max-width)
    padding: 40px 10%;
}
.header__logo {
    opacity: 0;
    position: relative;
    left: -50px;
    z-index: 500;
    animation: animLogo .7s ease-in-out 1s forwards;
}
@keyframes animLogo {
    from {opacity: 0; left: -50px;}
    to { opacity: 1; left: 0px;}
}
}